#container {
    width: 100%;
    display: flex;
}

.userField,
.computerField {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    position: relative;
}

.sector {
    border: 1px solid red;
    box-sizing: border-box;
}

.fourdeck,
.tripledeck,
.doubledeck,
.singledeck {
    background: green;
}